
script(type='text/javascript', src='https://www.gstatic.com/firebasejs/5.11.0/firebase.js')
script.
    // Initialize Firebase
    var config = {
        apiKey: "AIzaSyA5VXz1qpfu891g5bzrOJwyYLTFGD03Ut4",
        authDomain: "gd-lunch.firebaseapp.com",
        databaseURL: "https://gd-lunch.firebaseio.com",
        projectId: "gd-lunch",
        storageBucket: "gd-lunch.appspot.com",
        messagingSenderId: "998959803507"
    };
    firebase.initializeApp(config);
