script(type='text/javascript', src='https://code.jquery.com/jquery-2.2.4.min.js')
script(type='text/javascript', src='https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js')
script(type='text/javascript', src='https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js')
script(type='text/javascript', src='https://cdnjs.cloudflare.com/ajax/libs/bootstrap3-dialog/1.29/js/bootstrap-dialog.min.js')
