html,
body {
    overflow-x: hidden; /* Prevent scroll on narrow devices */
}

body {
    padding-top: 0px;
}

.text-white-50 {
    color: rgba(255, 255, 255, 0.5);
}

.bg-purple {
    background-color: #6f42c1;
}

.lh-100 {
    line-height: 1;
}
.lh-125 {
    line-height: 1.25;
}
.lh-150 {
    line-height: 1.5;
}

.main {
    margin-left: auto;
}
