doctype html
html(lang='ko')
    head
        include ../partials/analytics
        meta(http-equiv='content-type', content='text/html;charset=UTF-8')
        meta(charset='utf-8')
        meta(name="keywords" content="점심,논현동,강남,맛집")
        meta(name="description" content="점심 뭐 먹지??")
        meta(name="author" content="mocadev")
        meta(name="google-site-verification" content="thm5s-BB9sejav243a6-H4oB63l33ypb3yj8qxVWeEA")
        title 점심 뭐 먹지?? 좀 골라줘~~
        meta(name='viewport', content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no, shrink-to-fit=no')
        meta(http-equiv="X-UA-Compatible" content="ie=edge")
        meta(name="apple-mobile-web-app-title" content="점심 뭐 먹지??")
        meta(property="og:title" content="논현동에서 점심 뭐 먹지??")
        meta(property="og:type" content="article")
        meta(property="og:url" content="http://lunch.mocadev.me")
        meta(property="og:description" content="논현동에서 점심 뭐 먹지??")
        meta(property="og:image" content="http://lunch.mocadev.me/images/lunch.jpg")
        link(rel='shortcut icon', href='https://gd-lunch.herokuapp.com/favicon.ico')
        link(rel="apple-touch-icon" href="/images/lunch.jpg")
        include ../partials/stylesheets
        block style
    body
        .loading(style="display: none")
        block content
        include ../partials/footer
        block javascript
