doctype html
html(lang='ko')
    head
        meta(http-equiv='content-type', content='text/html;charset=UTF-8')
        meta(charset='utf-8')
        title 점심 뭐 먹지?? 좀 골라줘~~
        meta(name='viewport', content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no, shrink-to-fit=no')        
        meta(http-equiv="X-UA-Compatible" content="ie=edge")
        link(href='https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css', rel='stylesheet', type='text/css')
        link(href='/css/offcanvas.css', rel='stylesheet', type='text/css')
        link(href='/css/loading.css', rel='stylesheet', type='text/css')
    body
        .loading(style="display: none")
        block content
        block javascript